<!-- Navegación -->
<div class="nav">
    <!-- Logo -->
    <a href="/" class="nav__link nav__link--logo">
        <i class="fas fa-shopping-cart logo-icono"></i>
        <span>miTienda</span>
    </a>
    <!-- Menú Categorías -->
    <p class="nav__link nav__link--categorias">
        <span>Categorías <i class="fas fa-caret-down"></i></span>
    </p>
    <!-- Navegación lista -->
    <ul class="nav__lista">
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="/electronica" class="nav__link">Electrónica</a>
        </li>
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="/hogarYCocina" class="nav__link">Hogar y cocina</a>
        </li>
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="/deportes" class="nav__link">Deportes</a>
        </li>
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="/ropaYAccesorios" class="nav__link">Ropa, zapatos y accesorios</a>
        </li>
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="/herramientas" class="nav__link">Herramientas y mejoras del hogar</a>
        </li>
        <!-- Navegación item -->
        <li class="nav__item">
            <!-- Navegación link -->
            <a href="#" class="nav__link">Otros</a>
        </li>
    </ul>

    {{# if usuario}}
    <!-- Sección dinamica del usuario -->
    <div class="nav__seccionDinamicaPerfil">
        <a href="/carrito" class="nav__btnCarrito btn btn--carrito">
            Carrito
            <span>
                {{# if carrito}}
                {{carrito.productos.length}}
                {{ else }}
                0
                {{/if}}
            </span>
        </a>
        <div class="nav__usuario">
            <img src="/images/usuarios/{{usuario.foto}}" alt="{{usuario.foto}}" />
            <p>
                {{usuario.nombre}} <span><i class="fas fa-caret-down"></i></span>
            </p>
            <ul class="nav__usuarioDropdown">
                <li class="nav__usuarioDropdownItem">
                    <a href="/perfil">Mi perfil</a>
                </li>
                <li class="nav__usuarioDropdownItem">
                    <a href="#" id="cerrarSesion">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>

    {{ else }}
    <!-- Sección de iniciar sesión y registrarse -->
    <div class="nav__seccion-usuario">
        <ul class="nav__seccion-usuario-lista">
            <li class="nav__seccion-usuario-item">
                <a href="/registrarse" class="nav__seccion-usuario-btn btn--rojo">Registrarse</a>
            </li>
            <li class="nav__seccion-usuario-item">
                <a href="/iniciarSesion" class="nav__seccion-usuario-btn nav__seccion-usuario-btn--transparente">
                    Iniciar sesión
                </a>
            </li>
        </ul>
    </div>
    {{/if }}
</div>