{{> navigationSticky}}
<!-- Categoría -->
<!-- Popup formulario reseña -->
<div class="popup" id="popup">
    <a href="#producto">X</a>
    <div class="popup__contenido">
        <h4>Escribe tu reseña</h4>
        <form action="#" class="formulario__form" id="formularioReseña">
            <div class="formulario__reseñaError">

            </div>
            <input id="puntajeReseña" type="number" min="1" max="5" class="formulario__input" name="puntaje"
                placeholder="Puntaje" />
            <textarea class="formulario__input" name="reseña" id="contenidoReseña" cols="30" rows="10"></textarea>
            <button class="btn btn--rojo" id="btnPublicarReseña">Publicar reseña</button>
        </form>
    </div>
</div>
<section class="producto caracteristicas" id="producto">
    <div class="producto__contenido">
        <div class="producto__fotografias">
            <div class="producto__fotografiaPrincipal">
                <img src="/images/productos/{{producto.imagenPrincipal}}" alt="{{producto.imagenPrincipal}}" />
            </div>

            {{#each imagenes}}
            <div class="producto__fotografiaSecundaria producto__fotografiaSecundaria--{{@index}}">
                <img src="/images/productos/{{this}}" alt="{{this}}" />
            </div>
            {{/ each}}
        </div>
        <div class="producto__contenidoPrincipal">
            <h4 class="producto__titulo" id="{{producto.id}}">
                {{producto.nombre}}$ <span> {{producto.precio}} </span>
            </h4>
            <p class="producto__texto">
                {{producto.descripcion}}
            </p>
            <form action="#" class="producto__formulario">
                <input type="hidden" name="slug" value="{{producto.slug}}" class="producto__slug">
                <input type="hidden" name="stock" value="{{producto.stock}}" class="producto__stock">
                <input type="number" name="cantidad" value="1" placeholder="Cantidad" min="1" max="10"
                    class="producto__cantidad" />
                {{#if stock}}
                <button class="btn producto__btnAgregarCarrito btn--rojo" id="agregarCarrito">
                    Agregar al carrito
                </button>
                {{else}}
                <button disabled class="btn producto__btnAgregarCarrito btn--rojo" id="agregarCarrito">
                    Producto sin stock
                </button>
                {{/if}}
            </form>
        </div>
        <div class="producto__contenidoSecundario">
            <div class="producto__puntaje">
                <h4>4.9</h4>
                <ul>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <!-- <a href="">Ver reseñas</a> -->
            </div>
            <div class="producto__descripcion">
                <p>
                    {{producto.descripcion}}
                </p>
            </div>
            <div class="producto__categoria">
                <h4>{{producto.categoria}}</h4>
            </div>
        </div>
    </div>
    <div class="producto__resenia">
        <h4>Reseñas</h4>
        <div class="producto__resenias glider-contain multiple">
            <button class="glider-prev" role="button" aria-label="Previous">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="producto__reseniasSlider glider">
                {{#each reseñas}}
                <div class="producto__contenedorResenia">
                    <div class="producto__reseniaUsuario">
                        <img src="/images/usuarios/{{this.usuario.foto}}" alt="{{this.usuario.nombre}}" />
                        <p id="{{this.usuario._id}}"></p>
                    </div>
                    <div class="producto__reseniaContenido">
                        <ul data-id="{{this.puntuacion}}" class="estrellasPuntuacion">

                        </ul>
                        <span>{{formatoFecha this.reseñaFecha}}</span>
                        <p>
                            {{this.reseña}}
                        </p>
                    </div>
                </div>
                {{else}}
                <p style="text-align: center; font-weight:600; font-size: 16px;">Este producto no tiene reseñas</p>
                {{/each}}

            </div>
            <button class="glider-next" role="button" aria-label="Next">
                <i class="fa fa-chevron-right"></i>
            </button>
            <div role="tablist" class="glider-dots" id="dots"></div>
        </div>
    </div>
    {{#if usuario}}
    <div class="producto__HacerResenia">
        <a href="#popup" class="btn btn--secundario" id="btnHacerReseña">Hacer Reseña</a>
    </div>
    {{/if}}
</section>

{{> footer}}
{{> glider}}